<div class="panel panel-default" ng-controller="MainCtrl">
  <div>{{ error }}</div>
  <div class="panel-heading">Employees</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Location</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees | orderBy:repoSortOrder">
        <td>{{ employee.firstName + " " + employee.lastName }}</td>
        <td>{{ employee.phoneNumber }}</td>
        <td>{{ employee.city + ", " + employee.state }}</td>
        <td ng-click="edit(employee)">
          <span class="glyphicon glyphicon-edit" aria-hidden="false"></span>
        </td>
        <td ng-click="delete(employee)">
          <span class="glyphicon glyphicon-trash" aria-hidden="false"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>