 <!-- Todo this is very similar to main.html, find a way to reuse it in Angular  -->
<div class="panel panel-default" ng-controller="TrashCtrl">
  <div>{{ error }}</div>
  <div class="panel-heading">
    <span class="glyphicon glyphicon-th-list" aria-hidden="false"></span>
    Employees
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Location</th>
        <th>Restore</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees | orderBy:repoSortOrder">
        <td>{{ employee.firstName + " " + employee.lastName }}</td>
        <td>{{ employee.phoneNumber }}</td>
        <td>{{ employee.city + ", " + employee.state }}</td>
        <td ng-click="restore(employee)">
          <span class="glyphicon glyphicon-repeat" aria-hidden="false"></span>
        </td>
        <td ng-click="delete(employee)">
          <span class="glyphicon glyphicon-trash" aria-hidden="false"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>